/*This is how we do formatting*/
h1
{
	color:#0f74ac;
	background-color:#FBFBFB;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
	font-size: 35px;
	text-align: center;
}

#login
{
	text-align: center;
	font-family: "Roboto", sans-serif;
}

#bodyT
{
	font-family: "Roboto", sans-serif;
	font-size: 20px;
}

/*Add more of these for any other formatting stuff*/
